body {
    width: 50%;
    background-color: indigo;
    margin: 0 auto;
    border: 3px solid #fff;
    padding: 10px;
}

h3{
    border:2px solid black;
    border-radius: 10px;
}

h1,h3,p,h3,ul,footer {
    color: black;
}

IMG.centraliza{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.redondo{
    width: auto;
    height: auto;
    color: #FFF;
    background-color: #000;
    
    border-radius: 10%;
}